GLFW_ICON ICON "image_detector.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", ""
      VALUE "FileDescription", "anomaly | detects the anomaly in the image"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "image_detector"
      VALUE "LegalCopyright", "(c) 2024 "
      //VALUE "OriginalFilename", "image_detector.exe"
      VALUE "anomaly", "anomaly"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
